* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

header {
  font-style: italic;
  height: 200;
  margin: 0px 0px 0px 0px;
  background-image: url("fondo 1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header h1 {
  margin: 0px 0px 0px 60px;
  padding: 60px 10px 45px 380px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6ch;
}

img {
  width: 300px;
  height: 300px;
  background-color: black;
  position: absolute;
  margin: -130px 0px 0px 60px;
  border-radius: 10px;
  border: outset black ;
}

#barra {
  width: 1520px;
  height: 3px;
  margin: 0px 0px 0px 0px;
  background-color: rgb(59, 55, 137);
}

#datos_personales {
  height: 1590px;
  margin: 0px 0px 10px 0px;
  padding: 170px 10px 10px 10px;
  background-image: url("fondo 3.jpg");
  background-repeat: no-repeat;
  background-size: 150% 100%;
  border-bottom-left-radius: 10px;
  color: aliceblue;
} 

#datos_personales h1 {
  font-style: italic;
}

#espacio1 {
  height: 40px;
}

#experiencias {   
  height: 1590px;
  margin: 0px 0px 1px 0px;
  padding: 10px 10px 10px 10px;
  background-image: url("fondo 2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom-right-radius: 10px;
}

#experiencias h1 {
  font-style: italic;

}

#experiencias h2 {
  font-style: italic;
  margin-top: 50px;
}

#estudios_secundarios {
  margin: 5px 0px 0px 250px;
  display: none;
}

#boton_mostrar_secundarios {
  float: inline-end;
  margin-top: -25px;
  margin-right: 249px; 
  background: none;
  position: relative;
}

#boton_mostrar_terciarios {
  float: inline-end;
  margin-top: -25px;
  margin-right: 260px; 
  background: none;
  position: relative;
}

#estudios_terciarios {
  margin: 5px 0px 0px 250px;
  display: none;
}

#institucion {
  font-style: italic;
  font-size: 25px;
  margin: 5px 279px 0px 250px;
}

#experiencia_laboral {
margin-top: 50px;
}

#periodo1 {
  float: left;
  width: 125px;
  margin: 5px 0px 0px 50px;
}

#tagle {
  font-style: italic;
  font-size: 25px;
  margin: 83px 400px 0px 250px;
}

#macwagen {
  font-style: italic;
  font-size: 25px;
  margin: 167px 209px 0px 250px;
}

#tareas_tagle {
  margin: 5px 0px 0px 250px;
  display: none;
}

#tareas_macwagen {
  margin: 5px 0px 0px 250px;
  display: none;
}

#espaciador {
  margin: 100px 0px 18px 0px;
}

#periodo2 {
  float: left;
  width: 121px;
  margin: 5px 0px 0px 50px;
}

#boton_mostrar_tagle {
  float: inline-end;
  margin-top: -25px;
  margin-right: 375px; 
  background: none;
  position: relative;
}

#boton_mostrar_macwagen {
  float: inline-end;
  margin-top: -25px;
  margin-right: 182px; 
  background: none;
  position: relative;
}

/* tuve que sacar el estilo del boton desde pagina externa porque no me reconocia el primer click"
#contactar {
  font-style: italic;
  color:blue;
}*/

.datos_contactar {
  display: none;
} 

#nombre {
  font-style: italic;
  margin: 0px 15px 0px 5px;
}

#telefono {
  font-style: italic;
  margin: 0px 15px 0px 5px;
}

#mail {
  font-style: italic;
  margin: 0px 15px 0px 5px;
}

#enviar {
  margin: 0px 15px 0px 230px;
  float: inline-start;
}
